*.dcu
*.ppu
*.dof
*.bak
*.compiled
*.cfg
*.exe
Samples/Source/2D/GUI/Shaders/
Samples/Binaries/Shaders/
*.o
Engine/Libs/OpenVR/samples/
Engine/UI/old/
Engine/Libs/OpenVR/lib/
Engine/Libs/OpenVR/bin/
*.orig
Engine/Image/JPG/
Engine/Image/SVG/
Engine/Image/*.rar
*.lps
Tools/Binaries/Shaders/
Engine/Libs/DirectX/
Engine/Libs/AssimpDelphi/
Engine/Libs/OpenVR/
